.menu{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    }

.menu__header{
    display: flex;  
    }

.menu__title{
    display: flex;
    align-self:center;
}

.menu__list__item__contato{
    display: flex;
    align-self:flex-end;

}

.menu__list:nth-child(1),
.menu__list:nth-child(2),
.menu__list:nth-child(3),
.menu__list:nth-child(4),
.menu__list:nth-child(5)
.menu__list:nth-child(6){
    display: none;
}

.title{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
}

.title__div{
    width: 50%;
}

.title__container{
    display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-between;
}



.title__network{
    display: flex;
}

.title__network li{
    align-items:stretch;
}

.skills{
    display: flex;
    align-items: center;
    white-space: nowrap; /*es solo para el texto*/
    gap: 15px; /*espacio entre elementos*/
}
.about__container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
}

.formcontato{
    display:flex;
}

.formcontato__form{
        display: flex;
        flex-flow: column wrap;
        gap: 10px;
        align-items: center;
        height: 303px;
        width: 180px;
}



.formcontato__img{
    display: none;
}