.about{
    /*background-color: #e7e5e5;*/
    display: flex;
    padding: 0 15px;
    padding-top: 30px;
    
    text-align: justify;
    line-height: 1.5;
    width: 100vw;
}

.about h3{
    font-size: 35px;
    font-weight: bold;
    
}


@media (min-width:1023px ){
    
    .about{
        padding: 0 30px;
        display: flex;
        line-height: 1.8;
        font-size: 1.2em;

        
    }
    
}

@media (min-width:1420px){

    
}