
.formcontato--esquerda {
    display: none;
}

.formulario__campo {
    width: 80%;
    margin-bottom: 1em;
}

.formcontato__text {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.formcontato__text h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
    font-size: 2em;
    padding: 5px 20px;

}

.formcontato__text h3 {
    font-size: 1em;
    padding: 10px 20px;
}


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

input:focus {
    border-bottom: 2px solid #78788c
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

.formcontato__botao {
    background: #59ABE3;
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #78788c;
    opacity: 80%;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}

button:hover {
    background: #78788c;
    color: #fff
}
.campo__completo {
    
    display: block;
    border: white 8px ridge;
    margin: 10px;
    border-radius: 20px;
    width: 100%;
    padding: 1em;
    margin-top: .5em;

}

.campo__etiqueta{
    margin: 10px;
}
#mensaje{
    margin-left: 10px;
    margin-top: 10px;
    width: 96%;
    border: white 8px ridge;
    border-radius: 10px;
    color:white;
}
.mensaje-error {
    display: block;
    margin-top: 5px;
    font-weight: 400;
    font-style: italic;
    font-size: .925rem;
    color: red;
}

.campo__completo--error {
    border: 2px solid red;
}

.campo__etiqueta {
    font-weight: 500;
    line-height: 20px;
}


@media (min-width: 768px) {


    .formulario{
        font-size: 1.3em;
    }

    .formulario__titulo-texto{
        font-size: 26px;
    }

    .formulario__campo {
        width: 95%;
    }
    .campo__etiqueta{
        margin: 10px;
    }

    #mensaje{
        width: 95%;
    }

   

    .formulario__boton{
        margin-bottom: 70px;
    }
}


@media (min-width: 1023px) {
    .formcontato__contacto {
      /*  background-color: red;*/
        display: flex;
        display: flex;
        /* Configura el contenedor como flexbox */
        flex-direction: row;
        /* Distribuye los elementos en una fila horizontal */
        justify-content: space-between;
        /* Espacio entre los elementos */
        align-items: flex-start;
        /* Alinea los elementos al inicio vertical */
        padding: 10px;
        /* Espacio interno del contenedor */
        
        /* Borde para visualizar el contenedor */
    }


    .formcontato--esquerda {
    display: flex; /* Configura el contenedor como flexbox */
    
    
    padding: 5px; /* Espacio interno del contenedor */
   /* background-color: #e0e0e0; /* Fondo para diferenciar el contenedor */
    
}

.formcontato__img{
    display: flex;
    margin-top: 150px;
    width: 600px;
    height: 450px;
}
.formcontato__text{
    padding: 10px; /* Espacio interno del elemento */
 
  
  margin-right: 10px; /* Espacio a la derecha del elemento */
}

#mensaje{
    margin: 1px;
    width: 95%;
}

}