.formcontato--esquerda {
    display: flex;
}

.formulario__campo {
    width: 80%;
    margin-bottom: 1em;
}

.formcontato__img {
    display: none;
}

.formcontato__text {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.formcontato__text h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
    font-size: 2em;
    padding: 5px 20px;

}

.formcontato__text h3 {
    font-size: 1em;
    padding: 10px 20px;
}


.campo__completo {
    width: 90dvw;
    padding: 10px;
    box-sizing: border-box;
    background: black;
    outline: none;
    resize: none;
    border: white 8px ridge;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
    margin-left: 20px;
    border-radius: 20px;
    display: block;
    margin-top: .5em;
}


input:focus {
    border-bottom: 2px solid #78788c
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

.formcontato__botao {
    height: 50px;
    width: 50dvw;
    cursor: pointer;
    letter-spacing: 4px;
    border-radius:20px;
    border: 3px solid white;
     background-color: black;
     color: white;
     &:hover {
         box-shadow: 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f; /* Cambia el color de fondo al pasar el mouse */
         color: yellow; /* Cambia el color del texto al pasar el mouse */
         transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
     }
}

button:hover {
    background: #78788c;
    color: #fff
}




#mensaje {
    margin-left: 20px;
    margin-top: 10px;
    width: 85dvw;
    border: white 8px ridge;
    border-radius: 10px;
    color: white;
}

.mensaje-error {
    display: block;
    margin-top: 5px;
    font-weight: 400;
    font-style: italic;
    font-size: .925rem;
    color: red;
}

.campo__completo--error {
    border: 2px solid red;
}

.campo__etiqueta {
    margin: 10px;
    font-weight: 500;
    line-height: 20px;
}

@media (min-width: 781px) and (max-width: 1200px) {

    .formcontato {

        margin-bottom: 1px;
    }

    .formcontato__contacto {
        background-color: rgb(0, 0, 0, .8);
        /*  background-color: red;*/
        display: flex;
        /* Configura el contenedor como flexbox */
        flex-direction: row;
        /* Distribuye los elementos en una fila horizontal */
        justify-content: space-between;
        /* Espacio entre los elementos */
        align-items: flex-start;
        /* Alinea los elementos al inicio vertical */
        padding: 10px;
        /* Espacio interno del contenedor */
        /* Borde para visualizar el contenedor */
    }

    .formcontato--esquerda {
        display: flex;
        /* Configura el contenedor como flexbox */
        padding: 5px;

        /* Espacio interno del contenedor */
        /* background-color: #e0e0e0; /* Fondo para diferenciar el contenedor */

    }

    .formcontato__img {
        display: none;
    }

    .campo__completo {
        margin-left: 10px;
        margin-right: 10px;
        width: 90dvw;
    }

    #mensaje {
        margin-left: 10px;
        margin-right: 10px;
        width: 90dvw;
    }

    .formcontato__text h2 {

        font-size: 7.5em;
    }

    .formcontato__text h3 {
        font-size: 2em;
    }

    .formcontato__botao {
        float: left;
        width: 25dvw;
    }
}


@media (min-width: 1201px) and (max-width: 1800px) {

    .formcontato {
        
        display: flex;
        width: 95dvw;
        height: 90dvh;
        
    }

    .formcontato__img {
        display: block;

        width: 50dvw;
        height: 80dvh;
    }

    .formcontato__text h2 {
        display: flex;
        font-size: 2.5em;
    }

    .formcontato__text h3 {
        
        width: 45dvw;
        display: flex;
        font-size: 1.5em;
        text-align: justify;
    }

    .formulario__campo {
        
        width: 45dvw;
    }

    .campo__etiqueta {
        margin: 10px;
    }

    .campo__completo {
        margin-left: 10px;
        margin-right: 10px;
        width: 43dvw;
    }

    #mensaje {
        width: 41dvw;
    }


    .formcontato__botao {
        
        float: left;
        width: 15dvw;
    }

}

@media (min-width: 1801px) and (max-width: 2800px) {

    .formcontato__img {
        display: block;
        width: 45dvw;
        height: 80dvh;
    }

    .formcontato {
        
        display: flex;
        width: 95dvw;
        height: 90dvh;
    }

    .formcontato__text h2 {
        display: flex;
        font-size: 2.5em;
    }

    .formcontato__text h3 {
        
        width: 45dvw;
        display: flex;
        font-size: 1.5em;
        text-align: justify;
        margin-bottom: 15px;
    }
    .formulario__campo {
        
        width: 45dvw;
        
    }

    .campo__etiqueta{
        
        font-size: 1.5em;
    }

    .campo__completo {
        margin-left: 10px;
        margin-right: 10px;
        width: 49dvw;
    }

    #mensaje {
        width: 47dvw;
    }

    .formcontato__botao {
        
        float: left;
        width: 20dvw;
    }
}