.experience{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 1px;;
    width: 90vw;
    }


    .Container_Botones{
        display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          font-size: 1.4em;
          gap: 20px; 
          
          width: 400px;
          font-size: .9em;
      }

    .boton--repo{
        height: 50px;
        width: 120px;
        cursor: pointer;
        
        position: relative;
        display: inline-block;
        padding: 5px 3px;
        border-radius:20px;
        letter-spacing: 4px;
        text-decoration: none;
            overflow: hidden;
            color: white;
            border: 3px solid white;
        transition: 0.2s;
        background-color: black;
        &:hover {
            box-shadow: 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f; /* Cambia el color de fondo al pasar el mouse */
            color: yellow; /* Cambia el color del texto al pasar el mouse */
            transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
    }
    }
    
    
    .boton--demo{
        height: 50px;
       width: 120px;
       cursor: pointer;
       letter-spacing: 4px;
       border-radius:20px;
       border: 3px solid white;
        background-color: black;
        color: white;
        &:hover {
            box-shadow: 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f; /* Cambia el color de fondo al pasar el mouse */
            color: yellow; /* Cambia el color del texto al pasar el mouse */
            transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
        }
       
    }
    
    .boton--repo{
        width: 15dvw;
        height: 10dvh;
    }
    .boton--demo{
        width: 15dvw;
        height: 10dvh;
    }


    .experience__section__title{
        display: flex;
        margin-top: 10px;
        margin-bottom: 15px;
        justify-content: center;
        font-size: 35px;
        font-weight: bold;
    }

    .experience__box{
        /* background-color: green; */
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px 0 0px 20px;
        width: 95vw;
        }

    
    .experience__img{
        max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
    }
    
    .experience__img_issste{
        display: flex; 
        width: 85vw;  
        margin-bottom: 10px;
    }

    .experience__img_c4{
        display: flex;
        background-color: whitesmoke;
        width: 85vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .experience__info-container{
        /* background-color: red; */
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 85vw;                      
        
    }
    
    .experience__info-container h2{
        
        display: flex;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 10px;
        
    }
    .experience__info-container h3{
        /*background-color: red;*/
        display: flex;
        margin-bottom: 10px;
        line-height: 1.5;
        
    }

   

    .experience__description{
        
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 14px;
        margin-top: 15px;
        
    }
/* ///pc //*/
@media (min-width: 1201px) and (max-width: 1801px) {

.primera_parte{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 95dvw;
    gap: 100px;
}

.primera_parte img{
    width: 50dvw;
    margin-left: 1dvw;
}

.experience__info-container{
            
    width: 30dvw;
    display: flex;
    flex-direction: column;
    align-items: flex-star;
    font-size: 2em;
}

.segunda_parte {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 95dvw;
    
}

.experience__img_issste{
    width: 50dvw;
    margin-left: 1dvw;
}

.tercera_parte {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 95dvw;
    
}

.experience__img_c4{
    width: 50dvw;
    margin-left: 1dvw;
}

.Container_Botones{
    font-size: 2.3em;
}


}
    /*full hd*/
    @media (min-width: 1801px) and (max-width: 2800px) {           
         
        .primera_parte{
    
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 95dvw;
            gap: 100px;
        }
        
        .primera_parte img{
            width: 50dvw;
            margin-left: 1dvw;
        }
        
        .experience__info-container{
            
            width: 30dvw;
            display: flex;
            flex-direction: column;
            align-items: flex-star;
            font-size: 2em;
        }

    .Container_Botones{
        font-size: 2.3em;
    }
        
        .segunda_parte {
            
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 95dvw;
            
        }
        
        .experience__img_issste{
            width: 50dvw;
            margin-left: 1dvw;
        }
        
        .tercera_parte {
            
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            align-items: center;
            width: 95dvw;
            
        }
        
        .experience__img_c4{
            width: 50dvw;
            margin-left: 1dvw;
        }
}
