
.p1f{
    padding-top: 1px;
    text-align: center;
    margin-bottom: 1px;

    font-size: 12px;
}

.p2f{
    padding-top: 1px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 1px;
    font-size: 12px;
}

@media (min-width: 781px) and (max-width: 1024px) {

    .footer{
        display: flex;
        
        margin-left: 25px;
        width: 90dvw;
        height: 7dvh;
        justify-content: center;
    }

    .p1f{
        /*background-color: red;*/
        padding-top: 1px;
        text-align: center;
        font-size: 1.1em;
        
    }
    
    .p2f{
        padding-top: 1px;
        text-align: center;
        font-size: 1.1em;
        
    }
  
 
}

@media (min-width: 1025px) and (max-width: 1920px) {
    .p1f{
        
        padding-top: 25px;
        text-align: center;
        margin-top: 115px;
        font-size: 14px;
    }
    
    .p2f{
        padding-top: 1px;
        text-align: center;
        margin-top: -20px;
        font-size: 12px;
    }
  
}