header{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e7e5e5;
}

.logo{
    display: flex;  /*items trabaja en coordenada x*/
    gap: 10px; /*espacio entre items */
}

.logo-img{
    height: 22px;
}

.menu__list{
    display: none;
}

.menu__list li a{
    color: #fffbfb;
}

.menu__list li b{
    font-weight: bold;
}

.menu__list__item__contacto{
    font-weight: bold;
}

@media (min-width:1023px ){
    header{
        display: flex;
        padding: 20px 40px;
        justify-content: end;
        
       
    }

    .logo{
        font-size: 16px;
    }

    .menu__list{
        /*background-color: red;*/
       display: flex;
        font-size: 16px;
        gap: 20px;
    }

    .menu__list__item__contacto{
             display: none;
       
    }
    
}

