.hobbies__title {
    display: flex;
    margin-top: 25px;
    margin-bottom: 15px;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}

.hobbies__line {
    /*background-color: aqua;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 35px;
    gap: 10px;
}

.hobbies__box {
    /*background-color: white;*/
    display: flex;
    align-items: center;
    height: 128px;
    width: 146px
}

.hobbies__box ul {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 80px;
    flex-grow: 1;
    padding: 10px;
    gap: 30px;
}

.hobbies__name {
    font-weight: bold;
}

.hobbies__img {
    width: 15vw;
    height: 15vh;
}




/*tablet*/
@media (min-width: 768px) {

    .hobbies__title {
        display: flex;
        margin-top: 150px;
        margin-bottom: 15px;
        justify-content: center;
        font-size: 35px;
        font-weight: bold;
    }

    .hobbies__line {
        display: flex;
        flex-flow: wrap;
    }

    .hobbies__box{
        flex: 1 1 25%;
        box-sizing: border-box;
        margin-bottom: 50px;
        padding: 50px;
        text-align: center;
    }

    .hobbies__name{
        /*background-color: red;*/
        display: flex;
    }
}

@media (min-width:1023px) {

    .hobbies__line {
        /*background-color: red;*/
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        width: 100%;
        
    }

    .hobbies__box {
        display: flex;
        flex-flow: nowrap;
        width: 10%;
        padding: 15px;
        margin-left: 1px;
        gap: 12px;
    }
    .hobbies__img{
        display: flex;
        flex-flow: row;
        
        padding: 10px;
        gap: 10px;
        width: 11vw;
        height: 17vh;
    }
    .hobbies__box ul{
        display: flex;
             
        height: 100px;
        width: 100px;
        padding: 10px;
        gap: 10px;
    }
}

/*full hd*/
@media (min-width:1420px) {
    .hobbies{
        margin-top: 75px;
        margin-bottom: -100px;
        height: 400px;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .hobbies__title{
        font-size: 55px;
    }
    .hobbies__name{
        font-size: 25px;
        font-weight: bold;
    }
}