.profile{
   display: flex;
}
/*imagen*/
.title__profile{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 20%;
    height: 40%;
    padding: 10px;
    max-width: 100%;
    height: auto;
    }

.title__container{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    white-space: normal;
    gap: 20px;
}

.title__container h2{
    
    white-space: normal;
    font-size: 35px;
    font-weight: bold;
    gap: 20px;
}

.title__container h3{
    
    white-space: normal;
    font-size: 18px;
    gap: 10px;
}

.title__container ul{
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    gap: 10px;

}
/*tablet*/
@media (min-width: 768px){

    .title__div{
        
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .title__profile{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 148px;
        height: 368px;
        padding: 10px;
        max-width: 100%;
        height: auto;
        }
}

/*pc*/
@media (min-width:1024px ){

 
    .title__div{
        padding: 0 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .title__profile{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 368px;
        height: 368px;
        padding: 10px;
        max-width: 100%;
        height: auto;
        }
}
