

.skills__title{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    
}

.skills__line{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 40px;
    }

.skills__box{
    /* background-color: red; */
    display: flex;
    text-align: left;
    align-items: flex-start;
    height: 128px;
    width: 146px
}

.skills__img{
    width: 15vw;
    height: 15vh;
}
.skills__box ul{
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 80px;
    flex-grow: 1;
    padding: 10px;
    gap: 10px;
}

.skills__name{
    font-weight: bold;
    
}

/*tablet*/
@media (min-width: 768px){
    .skills__line{  
        display: flex;
        gap: 20px;
        }

  .skills__box{
            display: flex;
            align-items: center;
            height: 118px;
            width: 224px;           
        }



}

/*pc*/
@media (min-width:1024px ){

    .skills__line{  
        display: flex;
        gap: 20px;
        }

  .skills__box{
            display: flex;
            align-items: center;
            height: 176px;
            width: 13vw;
        }

}

